{% extends 'header.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col mb-3">
    <div class="card h-90 border-0 shadow">
        <div class="card-body text-left ml-2 mr-2">
            <h1 class="card-title h1">Add User To Organization</h1>
            <div class="card-text mb-2">
                <form action='' name="org" method="post">
                    {% csrf_token %}
                    Username
                    <input type="text" name="username" value="" class="form-control">
                    {% for grp in orgs %}
                    <input type="submit" name="org-name" value="{{ grp }}" class="btn btn-primary">
                    {% endfor %}
                </form>

            </div>
            <a href={% url 'user_management' %} class="btn btn-sm btn-primary">Done</a>
        </div>
    </div>
</div>
{% endblock %}