{% extends 'header.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <h1> Expense Entry </h1>

    <div id="alert"></div>

    <div class="container float-left">

        <button class="btn btn-primary btn-lg" type="button" ID="MileageToggle" onclick="location.href='/expense/MileageEntry'">Mileage</button>
        <button class="btn btn-primary btn-lg" type="button" ID="ExpenseToggle" onclick="location.href='/expense/ExpenseEntry'">Expense</button>
        <button class="btn btn-primary btn-lg" type="button" ID="HourToggle" onclick="location.href='/expense/TimeEntry'">Hours</button>

    </div>

{% endblock %}