{% extends 'header.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <h1> Enter An Expense </h1>
    <h4> Choose a type of expense to add </h4>

    <style>
        h1 {
            padding: 25px 20px 20px;
            text-align: center;
        }

        h4 {
            padding: 20px 20px 20px 25px;
            text-align: center;
        }

        div {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    </style>
    <section class="container py-4 my-lg-3 py-sm-5">
        <div id="expense-entry-menu" class="row">
            {#Expense Item Tile#}
            <div id="expense-tile" class="col-md-4 col-sm-6 mb-grid-gutter">
                <a class="card border-0 shadow mb-3" onclick="location.href='/expense/ExpenseEntry'">
                    <img class="card-img-top"
                         src="https://images.unsplash.com/photo-1634733988138-bf2c3a2a13fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80"
                         alt="Expense Entry">
                    <div class="card-body py-4 text-center">
                        <h3 class="h5 mt-1">Expense Item</h3>
                    </div>
                </a>
            </div>
            {#Mileage Tile#}
            <div id="mileage-tile" class="col-md-4 col-sm-6 mb-grid-gutter">
                <a class="card border-0 shadow mb-3" onclick="location.href='/expense/MileageEntry'"><img
                        class="card-img-top"
                        src="https://images.unsplash.com/photo-1623176035122-4e07bc19bab7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1738&q=80"
                        alt="Mileage Entry">
                    <div class="card-body py-4 text-center">
                        <h3 class="h5 mt-1">Mileage Expense</h3>
                    </div>
                </a>
            </div>
            {#Time Entry Tile#}
            <div id="time-tile" class="col-md-4 col-sm-6 mb-grid-gutter">
                <a class="card border-0 shadow mb-3" onclick="location.href='/expense/TimeEntry'"><img
                        class="card-img-top"
                        src="https://images.unsplash.com/photo-1563861826100-9cb868fdbe1c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80"
                        alt="Time Entry">
                    <div class="card-body py-4 text-center">
                        <h3 class="h5 mt-1">Time Entry</h3>
                    </div>
                </a>
            </div>
        </div>
    </section>
{% endblock %}