{% extends 'header.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <h1> Business Expense </h1>

    <script>
        function UpdateExpenseTotal() {
            var itemCost = parseFloat(document.getElementById("id_expenseCost").value);
            var tax = parseFloat(document.getElementById("id_tax").value);
            var shipping = parseFloat(document.getElementById("id_shipping").value);

            if (itemCost > 0) {
                if (tax > 0) {
                    if (shipping > 0) {
                        document.getElementById("id_expenseTotal").value = itemCost + tax + shipping;
                    } else {
                        document.getElementById("id_expenseTotal").value = itemCost + tax;
                    }
                } else if (shipping > 0) {
                    document.getElementById("id_expenseTotal").value = itemCost + shipping;
                } else {
                    document.getElementById("id_expenseTotal").value = itemCost;
                }
            } else {
                document.getElementById("id_expenseTotal").value = 0;
            }
        }

        function hideForm() {
            var selectedProject = document.getElementById( "project_selector_id" );

            if (selectedProject.options[ selectedProject.selectedIndex ].value  === "none") {
                document.getElementById("submit_id").hidden = true;
                document.getElementById("div_id_expenseDate").hidden = true;
                document.getElementById("div_id_file").hidden = true;
                document.getElementById("div_id_expenseCost").hidden = true;
                document.getElementById("div_id_tax").hidden = true;
                document.getElementById("div_id_shipping").hidden = true;
                document.getElementById("div_id_expenseTotal").hidden = true;
            }
            else {
                document.getElementById("submit_id").hidden = false;
                document.getElementById("div_id_expenseDate").hidden = false;
                document.getElementById("div_id_file").hidden = false;
                document.getElementById("div_id_expenseCost").hidden = false;
                document.getElementById("div_id_tax").hidden = false;
                document.getElementById("div_id_shipping").hidden = false;
                document.getElementById("div_id_expenseTotal").hidden = false;
            }
        }
    </script>

    <body onload="hideForm()">

    <div class="forms" id="alert">
        <form method="post" id="expense-form" enctype="multipart/form-data">
            <div>
                <label>Project*</label>
                <select name="project" id="project_selector_id" class="form-control" onchange=hideForm()>
                    <option value="none" selected>--------</option>
                    {% for project in projects %}
                        <option name="option" value="{{project}}">{{project}}</option>
                    {% endfor %}
                </select>
            </div>

            {% csrf_token %}
            {{ form|crispy }}
            <div class="col text-center" style="padding-top: 20px;">
                <input class="btn btn-lg btn-success" type="submit" value="Submit" id="submit_id">
                <input class="btn btn-lg btn-danger" type="button" value="Cancel"
                       data-target="#unsaved-modal" data-toggle="modal">
            </div>
        </form>
    </div>
    {#Unsaved changes modal#}
    <div id="unsaved-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="logout-modal-title">Warning</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Unsaved changes will be lost. If you would like to save changes, press "Keep Editing".</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary mx-2" href={% url 'expense' %}>Go Back</a>
                    <button class="btn btn-primary mx-2" class="close" data-dismiss="modal">Keep Editing</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}