{% extends 'header.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <h1> Expense Entry </h1>

    <div id="alert"></div>

    <div class="container float-left">

        <script> function toggleForm(formID, callButton) {
            const form = document.getElementById(formID);
            const button = document.getElementById(callButton);

            form.hidden = !form.hidden;

            if (button.getAttribute('class') === "btn btn-outline-primary") {
                button.setAttribute('class', "btn btn-primary");
            }
            else {
                button.setAttribute('class', "btn btn-outline-primary");
            }
        }
        </script>

        <button class="btn btn-outline-primary" type="button" ID="MileageToggle" onclick='toggleForm("mileage-form", "MileageToggle")'>Mileage</button>
        <button class="btn btn-outline-primary" type="button" ID="ExpenseToggle" onclick='toggleForm("expense-form", "ExpenseToggle")'>Expense</button>
        <button class="btn btn-outline-primary" type="button" ID="HourToggle" onclick='toggleForm("hours-form", "HourToggle")'>Hours</button>

        <form method="post" id="mileage-form">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Submit">
        </form>

    </div>

{% endblock %}