{% extends 'header.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <h1> Expense Entry </h1>

    <style>
        h1 {
            padding-top: 25px;
            padding-bottom: 20px;
            text-align: center;
        }

        div {
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>

    <div id="alert">

        <form method="post" id="expense-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="col text-center" style="padding-top: 20px;">
                <input class="btn btn-lg btn-success" type="submit" value="Submit">
            </div>
        </form>
    </div>

{% endblock %}