{% extends 'header.html' %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Dashboard {% endblock %}
<!-- background is overridden in spinner.css -->
{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"/>
    </head>


    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Dashboard</h1>
        </div>
    </div>

    <style>
        body {
            background: #b9b8c2;
        }

        .card-img-top {
            width: 100%;
            height: 15vw;
            object-fit: cover;
        }
    </style>
    <body>
    {#    Informational Cards    #}
    <div class="row row-spaced">
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0"> Total Expenses </h2>
                                <h3 class="fw-extrabold mb-2">{{ summary.total_expenses }}</h3>
                            </div>
                            <small class="text-gray-500">
                                Nov 1 - Dec 1
                            </small>
                            <div class="small d-flex mt-1">
                                <div>Since last month
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor"
                                         class="bi bi-caret-up-fill text-success" viewBox="0 0 16 16">
                                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                    </svg>
                                    <span class="text-success fw-bolder">4.78%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0"> Total Pending Expenses </h2>
                                <h3 class="fw-extrabold mb-2">{{ summary.total_pending }}</h3>
                            </div>
                            <small class="text-gray-500">
                                Nov 1 - Dec 1
                            </small>
                            <div class="small d-flex mt-1">
                                <div>Since last month
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor"
                                         class="bi bi-caret-down-fill text-danger" viewBox="0 0 16 16">
                                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                    </svg>
                                    <span class="text-danger fw-bolder">8.5%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0"> Pending Requests </h2>
                                <h3 class="fw-extrabold mb-2">{{ summary.pending_count }}</h3>
                            </div>
                            <small class="text-gray-500">
                                Nov 1 - Dec 1
                            </small>
                            <div class="small d-flex mt-1">
                                <div>Since last month
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor"
                                         class="bi bi-caret-up-fill text-success" viewBox="0 0 16 16">
                                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                    </svg>
                                    <span class="text-success fw-bolder">2.1%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    End of Cards   #}

    {#    Chart Begins   #}
    <div class="row row-spaced">
        <div class="col-12">
            <div class="card border-0 shadow">
                {% if is_manager %}
                    {% include 'chart_gopher.html' %}
                {% endif %}
            </div>
        </div>
    </div>
    {#     Chart Ends      #}

    {#     Cards Based on Permissions    #}
    <div class="row row-spaced row-cols-1 row-cols-md-3 row-top-spaced">
        {# Create Organization Tile#}
        {% if 'Dashboard.add_organization' in user_permissions %}
            <div class="col mb-4">
                <div class="card h-100 border-0 shadow">
                    <img src="{% static 'images/cards/create_organization.jpg' %}"
                         class="card-img-top" alt="...">
                    <div class="card-body text-center m-2">
                        <h3 class="card-title">Create Organization</h3>
                        <p class="card-text">Description about Create Organization Page.</p>
                        <a class="btn btn-primary" href={% url 'create_org' %}>
                            Create</a>
                    </div>
                </div>
            </div>
        {% endif %}

        {# Manage Users Tile#}
        {% if 'auth.add_user' in user_permissions %}
            <div class="col mb-4">
                <div class="card h-100 border-0 shadow">
                    <img src="{% static 'images/cards/manage_users.jpg' %}"
                         class="card-img-top" alt="...">
                    <div class="card-body text-center m-2">
                        <h3 class="card-title">Manage Users</h3>
                        <p class="card-text">Description about Manage Users Page.</p>
                        <a class="btn btn-primary" href={% url 'user_management' %}>Manage</a>
                    </div>
                </div>
            </div>
        {% endif %}

        {# Create Project Tile#}
        {% if 'Dashboard.add_project' in user_permissions %}
            <div class="col mb-4">
                <div class="card h-100 border-0 shadow">
                    <img src="{% static 'images/cards/create_project.jpg' %}"
                         class="card-img-top" alt="...">
                    <div class="card-body text-center m-2">
                        <h3 class="card-title">Create Project</h3>
                        <p class="card-text">Description about Create Project Page.</p>
                        <a class="btn btn-primary" href={% url 'create_proj' %}>Create</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {#    End of Cards Based on Permision#}

    <div class="py-4">
        <div class="col-12 col-xxl-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <ul class="list-group list-group-flush list my-3">
                        {% for org in organizations %}
                            <div class="card-deck justify-content-between">
                                <h1 class="alert-light fw-bold mb-10">{{ org.name }}</h1>
                            </div>
                            {% for prj in org.proj_list %}
                                <div class="popover-body bg-secondary my-4">
                                    <div class="popover-header bg-secondary">
                                        <h4 class="h4 mb-0">{{ prj.name }}</h4>
                                        <h6 class="h6 text-light font-italic">Project</h6>
                                    </div>
                                    {% for member in prj.users %}
                                        <li class="list-inline">
                                            <div class="modal-header">
                                                <h4 class="h4 text-light">
                                                    {{ member }}
                                                </h4>
                                                {% if member == prj.project_manager %}
                                                    <small class="mx-1 font-italic bg-primary rounded">Project
                                                        Manager</small>
                                                {% endif %}
                                            </div>
                                        </li>

                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </body>

{% endblock content %}
