{% extends 'header.html' %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Dashboard {% endblock %}
<!-- background is overridden in spinner.css -->
{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"/>
    </head>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3"><strong>Dashboard</strong></h1>
        </div>
    </div>

    <style>
        body {
            background: #b9b8c2;
        }

    </style>
    <script>
        {#Capture Time when Page Loaded#}
        let created = new Date().getTime();

        {#The time now#}
        let now = new Date().getTime();

        let getNow = function () {
            {#Time Now updated#}
            now = new Date().getTime();
            {#The difference between now and created#}
            let howLongAgo = created - now;

            let getHumanTime = function (timestamp) {

                {#Convert to a positive integer#}
                let time = Math.abs(timestamp);

                {#Define humanTime and units#}
                let humanTime, units;

                if (time > (1000 * 60 * 60 * 24 * 7)) {
                    humanTime = parseInt(time / (1000 * 60 * 60 * 24 * 7), 10);
                    units = 'weeks';
                }

                    {#If there are days#}
                else if (time > (1000 * 60 * 60 * 24)) {
                    humanTime = parseInt(time / (1000 * 60 * 60 * 24), 10);
                    units = 'days';
                }

                    {#If there are hours#}
                else if (time > (1000 * 60 * 60)) {
                    humanTime = parseInt(time / (1000 * 60 * 60), 10);
                    if (humanTime < 2) {
                        units = 'hour';
                    } else {
                        units = 'hours';
                    }
                }

                    {#If there are minutes#}
                else if (time > (1000 * 60)) {
                    humanTime = parseInt(time / (1000 * 60), 10);
                    if (humanTime < 2) {
                        units = 'minute';
                    } else {
                        units = 'minutes';
                    }
                }

                    {#Otherwise, use seconds#}
                else {
                    humanTime = parseInt(time / (1000), 10);
                    if (humanTime < 2) {
                        units = 'second';
                    } else {
                        units = 'seconds';
                    }
                }

                {#Get the time and units#}
                let timeUnits = humanTime + ' ' + units;

                {# If in the future#}
                if (timestamp > 0) {
                    return 'in ' + timeUnits;
                }

                {#If in the past#}
                return timeUnits + ' ago';

            };

            {#Show the difference in the UI#}
            let elements = document.querySelectorAll('.time-difference');
            elements.forEach(function (elem) {
                elem.textContent = 'Updated ' + getHumanTime(howLongAgo);
            });
        };
        setInterval(getNow, 60000);

    </script>
    <body>

    {#     New Summary Info Cards   #}
    <div class="row row-spaced row-cols-sm-1 row-cols-md-2 row-cols-lg-4 row-top-spaced">
        {# Info Card#}
        <div class="col mb-3">
            <div class="card h-90 border-0 shadow">
                <div class="card-body text-center ml-2 mr-2">
                    <h3 class="card-text h6">All Time Total Expenses</h3>
                    <h3 class="card-title mb-2">{{ summary.total_expenses }}</h3>
                    <p class="card-text time-difference">Just Updated</p>
                </div>

            </div>
        </div>

        {# Info Card#}
        <div class="col mb-3">
            <div class="card h-90 border-0 shadow">
                <div class="card-body text-center ml-2 mr-2">
                    <h3 class="card-text h6">Total Pending Expenses</h3>
                    <h3 class="card-title mb-2">{{ summary.total_pending }}</h3>
                    <p class="card-text time-difference">Just Updated</p>
                </div>
            </div>
        </div>

        {# Info Card#}
        <div class="col mb-3">
            <div class="card h-90 border-0 shadow">
                <div class="card-body text-center ml-2 mr-2">
                    <h3 class="card-text h6">Total Pending Requests</h3>
                    <h3 class="card-title mb-2">{{ summary.pending_count }}</h3>
                    <p class="card-text time-difference">Just Updated</p>
                </div>
            </div>
        </div>

        {# Info Card#}
        <div class="col mb-3">
            <div class="card h-90 border-0 shadow">
                <div class="card-body text-center ml-2 mr-2">
                    <h3 class="card-text h6">Requests Today</h3>
                    <h3 class="card-title mb-2">{{ summary.pending_today }}</h3>
                    <p class="card-text time-difference">Just Updated</p>
                </div>
            </div>
        </div>
    </div>
    {#    End of New Summary Info Cards    #}


    {#    Chart Begins   #}
    <div class="row row-spaced row-top-spaced row-bottom-spaced">
        <div class="col-12">
            <div class="card border-0 shadow">
                {% if is_manager %}
                    {% include 'chart_gopher.html' %}
                {% endif %}
            </div>
        </div>
    </div>
    {#     Chart Ends      #}

    {#     Cards Based on Permissions    #}
    <div class="row row-spaced row-cols-1 row-cols-md-3 row-top-spaced">
        {# Create Organization Tile#}
        {% if 'Dashboard.add_organization' in user_permissions %}
            <div class="col mb-4">
                <div class="card h-100 border-0 shadow">
                    <img src="{% static 'images/cards/create_organization.jpg' %}"
                         class="card-img-top" alt="Create Organization Illustration">
                    <div class="card-body text-center m-2">
                        <h3 class="card-title">Create Organization</h3>
                        <p class="card-text">Description about Create Organization Page.</p>
                        <a class="btn btn-primary" href={% url 'create_org' %}>
                            Create</a>
                    </div>
                </div>
            </div>
        {% endif %}

        {# Manage Users Tile#}
        {% if 'auth.add_user' in user_permissions %}
            <div class="col mb-4">
                <div class="card h-100 border-0 shadow">
                    <img src="{% static 'images/cards/manage_users.jpg' %}"
                         class="card-img-top" alt="Manage Users Illustration">
                    <div class="card-body text-center m-2">
                        <h3 class="card-title">Manage Users</h3>
                        <p class="card-text">Description about Manage Users Page.</p>
                        <a class="btn btn-primary" href={% url 'user_management' %}>Manage</a>
                    </div>
                </div>
            </div>
        {% endif %}

        {# Create Project Tile#}
        {% if 'Dashboard.add_project' in user_permissions %}
            <div class="col mb-4">
                <div class="card h-100 border-0 shadow">
                    <img src="{% static 'images/cards/create_project.jpg' %}"
                         class="card-img-top" alt="Create Project Illustration">
                    <div class="card-body text-center m-2">
                        <h3 class="card-title">Create Project</h3>
                        <p class="card-text">Description about Create Project Page.</p>
                        <a class="btn btn-primary" href={% url 'create_proj' %}>Create</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {#    End of Cards Based on Permision#}

    <div class="py-3">
        <div class="col-12 col-xxl-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <ul class="list-group list-group-flush list my-3">
                        {% for org in organizations %}
                            <div class="card-deck justify-content-between">
                                <h1 class="alert-light fw-bold mb-10">{{ org.name }}</h1>
                            </div>
                            {% for prj in org.proj_list %}
                                <div class="popover-body bg-secondary my-4">
                                    <div class="popover-header bg-secondary">
                                        <h4 class="h4 mb-0">{{ prj.name }}</h4>
                                        <h6 class="h6 text-light font-italic">Project</h6>
                                    </div>
                                    {% for member in prj.users %}
                                        <li class="list-inline">
                                            <div class="modal-header">
                                                <h4 class="h4 text-light">
                                                    {{ member }}
                                                </h4>
                                                {% if member == prj.project_manager %}
                                                    <small class="mx-1 font-italic bg-primary rounded">Project
                                                        Manager</small>
                                                {% endif %}
                                            </div>
                                        </li>

                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </body>

{% endblock content %}
