{% extends 'header.html' %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% load crispy_forms_filters %}

{% load crispy_forms_tags %}

{% load plotly_dash %}

{% block title %} Dashboard {% endblock %}

<!-- TODO: Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class=" card" style="height: 100%; width: 100%">
        {{ plot | safe }}
    </div>

    <div class="py-4">
                <div class="col-12 col-xxl-6 mb-4">
                    <div class="card border-primary">
                        <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                            <h2 class="offset-xl-10 text-muted">Organizations</h2>
                            <!-- ignore the errors pycharm throws below -->
                            <div class="nav-item">
                                {% if 'Dashboard.add_organization' in user_permissions %}
                                    <a href={% url 'create_org' %} class="btn btn-sm btn-primary">Create Organization</a>
                                {% endif %}
                                {% if 'auth.add_user' in user_permissions %}
                                    <a href={% url 'user_management' %} class="btn btn-sm btn-primary">Manage Users</a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="card-body">
                            <ul class="list-group list-group-flush list my--3">
                                {% for org in organizations %}
                                    <div class="card-deck justify-content-between">
                                    <h1 class="alert-light fw-bold mb-10">{{ org.name }}</h1>
                                        {% if 'Dashboard.add_project' in user_permissions %}
                                            <form action={% url 'create_proj' %} name="org" method="get">
                                                {% csrf_token %}
                                                <input type="hidden" name="org-name" value="{{ org.name }}">
                                                <input type="submit" value="Create Project" class="btn btn-primary">
                                            </form>
                                        {% endif %}
                                    </div>
                                        {% for prj in org.proj_list %}
                                            <div class="popover-body bg-secondary my-4">
                                                <div class="popover-header bg-secondary">
                                                    <h4 class="h4 mb-0">{{ prj.name }}</h4>
                                                    <h6 class="h6 text-light font-italic">Project</h6>
                                                </div>
                                                    {% for member in prj.users %}
                                                        <li class="list-inline">
                                                                <div class="modal-header">
                                                                    <h4 class="h4 text-light">
                                                                        {{ member }}
                                                                    </h4>
                                                                            {% if member == prj.project_manager %}
                                                                                <small class="mx-1 font-italic bg-primary rounded">Project Manager</small>
                                                                            {% endif %}
                                                                </div>
                                                        </li>

                                                    {% endfor %}
                                            </div>
                                        {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}