<!DOCTYPE html>
<!-- styling across app is inherited from here! -->
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, font-awesome">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand bg-primary rounded my-1 mx-2 p-2" href={% url 'home' %}> Expensify360 </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
            <!-- FIXME: I'm a buggy back button :( -->
                <a class="btn btn-outline-secondary mx-2" href="{{ request.META.HTTP_REFERER }}">Go Back</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-secondary mx-2" href={% url 'logout' %}>Logout</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-secondary mx-2" href={% url 'expense' %}>Log Expense</a>
            </li>
            <li class="nav-item">
            <!--TODO: account management link -->
                <a class="btn btn-outline-secondary mx-2" href='#'>{{ user.username }}</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="btn btn-outline-secondary mx-2" href={% url 'login' %}>Login</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-secondary mx-2" href={% url 'signup' %}>Register</a>
            </li>
        {% endif %}
            <!--add more links here-->
    </ul>
  </div>
</nav>