{% extends 'header.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"/>
        <h1 class="fs-5 fw-bold">Remove User</h1>
    </head>
    <div class="col-12 col-xxl-6 mb-4">
        <div class="card border-10 shadow">
            <div class="card-body mb-auto">
                <div class="spacer my-2"></div>
                <form method="post">
                    {% csrf_token %}
                    <div class="spacer my-2 mb-4">
                        <select name="selected-action" class="form-control">
                            <option value="none" selected disabled>
                                Choose Action...
                            </option>
                            {% for org in orgs %}
                                <option name="option" value="organization`{{ org }}">Remove from {{ org }}
                                    Organization
                                </option>
                            {% endfor %}
                            {% for prj in projects %}
                                <option name="option" value="project`{{ prj }}">Remove from {{ prj }} Project</option>
                            {% endfor %}
                        </select>
                    </div>
                    <select name="username" class="form-control mb-4">
                        <option value="none" selected disabled>
                            Choose User...
                        </option>
                        {% for user in users %}
                            <option name="option" value="{{ user }}">{{ user }}</option>
                        {% endfor %}
                    </select>
                    <div class="spacer my-2">
                        <button class="btn btn-success" onclick="this.form.submit()">Submit</button>
                        <a class="btn btn-danger" href={% url 'home' %}>Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}