{% extends 'header.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <h1> Time Entry </h1>

    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"/>

    <script>
        function UpdateExpenseTotal() {
            var hours = document.getElementById("id_hours").value;
            var rate = document.getElementById("id_hourlyRate").value;

            if ((hours > 0) && (rate > 0)) {
                document.getElementById("id_hourTotal").value = hours * rate;
            }
        }
    </script>

    <div class="forms" id="alert">
        <form method="post" id="time-form">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="col text-center" style="padding-top: 20px;">
                <input class="btn btn-lg btn-success" type="submit" value="Submit">
            </div>
        </form>
    </div>

{% endblock %}