        h1 {
            padding-top: 25px;
            padding-bottom: 20px;
            text-align: center;
        }

        div {
            padding-left: 20px;
            padding-right: 20px;
        }